// color
$COLOR: red;
$color-main: #4159F7;
.color-main { color: $color-main !important; }
.fill-main { color: $color-main !important; }

$color-success: #15DFA2;
.color-success { color: $color-success !important; }
.fill-success { color: $color-success !important; }

$color-warn: #FFBF43;
.color-warn { color: $color-warn !important; }
.fill-warn { color: $color-warn !important; }

$color-fail: #FF164E;
.color-fail { color: $color-fail !important; }
.fill-fail { color: $color-fail !important; }

$color-blue: #005AFF;
.color-red { color: $color-blue !important; }
.fill-red { color: $color-blue !important; }

$color-red: #F56C6C;
.color-red { color: $color-red !important; }
.fill-red { color: $color-red !important; }

$color-cyan: #00BAF4;
.color-cyan { color: $color-cyan !important; }
.fill-cyan { color: $color-cyan !important; }

$color-purple: #9123FF;
.color-purple { color: $color-purple !important; }
.fill-purple { color: $color-purple !important; }

$color-white: #FFFFFF;
.color-white { color: $color-white !important; }
.fill-white { color: $color-white !important; }

$color-black: #000000;
.color-black { color: $color-black !important; }
.fill-black { color: $color-black !important; }

$color-disabled: #dcdfe6;
.color-disabled { color: $color-disabled !important; }
.fill-disabled { color: $color-disabled !important; }

$color-title: #000000;
.color-title { color: $color-title; }
.fill-title { color: $color-title; }

$color-title-sub: #333333;
.color-title-sub { color: $color-title-sub !important; }
.fill-title-sub { color: $color-title-sub !important; }

$color-form-txt: #666666;
.color-form-txt { color: $color-form-txt !important; }
.fill-form-txt { color: $color-form-txt !important; }

$color-notes: #999999;
.color-notes { color: $color-notes !important; }
.fill-notes { color: $color-notes !important; }


// background-color
$color-bg: #F5F5F5;
.bg { background-color: $color-bg !important; }

$color-white-bg: #FFFFFF;
.bg-white { background-color: $color-white-bg !important; }

$color-main-bg: #D3CCFD;
.bg-main { background-color: $color-main-bg !important; }

$color-success-bg: #D2F7EC;
.bg-success { background-color: $color-success-bg !important; }

$color-fail-bg: #FFD0DC;
.bg-fail { background-color: $color-fail-bg !important; }

$color-warn-bg: #FFF2D9;
.bg-warn { background-color: $color-warn-bg !important; }

$color-cyan-bg: #CCF1FD;
.bg-cyan { background-color: $color-cyan-bg !important; }

$color-blue-bg: #F4F9FF;
.bg-blue { background-color: $color-blue-bg !important; }

$color-purple-bg: #F2F1FF;
.bg-purple { background-color: $color-purple-bg !important; }

$color-check-bg: #D7E7FF;
.bg-check { background-color: $color-check-bg !important; }


// border-color
$color-border-line: #DDDDDD;
.border { border-color: $color-border-line !important; }

$color-split-line: #EEEEEE;
.border-split { border-color: $color-split-line !important; }


// font-size
$text-36: 36px;
.text-36 { font-size: $text-36 !important; }

$text-34: 34px;
.text-34 { font-size: $text-34 !important; }

$text-32: 32px;
.text-32 { font-size: $text-32 !important; }

$text-30: 30px;
.text-30 { font-size: $text-30 !important; }

$text-28: 28px;
.text-28 { font-size: $text-28 !important; }

$text-24: 24px;
.text-24 { font-size: $text-24 !important; }

$text-22: 22px;
.text-22 { font-size: $text-22 !important; }

$text-20: 20px;
.text-20 { font-size: $text-20 !important; }

$text-18: 18px;
.text-18 { font-size: $text-18 !important; }

$text-16: 16px;
.text-16 { font-size: $text-16 !important; }

$text-14: 14px;
.text-14 { font-size: $text-14 !important; }

$text-12: 12px;
.text-12 { font-size: $text-12 !important; }

// bounce effect
$transEffect: cubic-bezier(0, 0, 0.14, 0.98);