.el-radio__input.is-checked .el-radio__inner {
  border-color: $color-main !important;
  background-color: $color-white !important;
}
.el-radio {
  color: $color-form-txt !important;
}

.el-radio__label {
  padding-left: 8px !important;
}

.el-radio__input {
  width: 16px !important;
  height: 16px !important;
}

.el-radio__inner {
  width: 15px !important;
  height: 15px !important;
}

.el-radio__inner:after {
  width: 7px !important;
  height: 7px !important;
  background-color: $color-main !important;
  transition: all 0 !important;
}

.el-radio__input.is-disabled+span.el-radio__label {
  color: $color-disabled !important;
}

.el-radio.is-bordered {
  margin-right: 8px !important;
  border-radius: 2px !important;
  .el-radio__input {
    display: none !important;
  }
}